.App {
  max-width: 1000px;
  margin: auto;
  color: #4d4d4d;
  background-color: #e2e2e2;
}

.App_checked {
  text-decoration: line-through;
}

.App-button {
  opacity: 0;
  transition: 0.5s opacity;
}

.App-li:hover .App-button {
  opacity: 1;
  transition: 0.5s opacity;
}

.App-span1 {
  padding-right: 5px;
  font-size: 1.25rem;
  font-weight: 700;
}
